<form ng-submit="hide()">
<md-dialog style="min-width:300px;padding:20px">
  <md-content > 
    <h3>{{caption}}:</h3> 
    <md-input-container style="width:100%;margin-bottom:0"> 
      <label translate="NAME"></label> 
      <input ng-model="title"></input> 
    </md-input-container>  

    <md-input-container style="width:100%;margin-top:0"> 
      <label translate="DESCRIPTION"></label> 
      <textarea ng-model="description"></textarea> 
    </md-input-container>  

    <div style="color:red;text-align:center" translate="{{error}}"></div>
  </md-content> 
  <div class="md-actions"> 
    <md-button type="button" ng-click="cancel()" translate="CANCEL"></md-button> 
    <md-button class="md-primary" type="submit" translate="SAVE"></md-button> 
  </div>
</md-dialog>
</form>


