<form ng-submit="hide()">
<md-dialog style="width:300px;max-width:300px;padding:20px">
  <md-content> 
    <h3 translate="FORGOTPASSWORD"></h3> 
    <md-input-container style="width:100%;margin:0;"> 
      <label translate="EMAIL"></label> 
      <input required ng-model="email" type="email" class="dialog-close"></input> 
    </md-input-container> 
    <div style="color:red;text-align:center" translate="{{error}}"></div>
  </md-content> 
  <div class="md-actions"> 
    <md-button class="md-primary" type="submit" translate="RESETPASSWORD"></md-button> 
  </div>
</md-dialog>
</form>
