<md-dialog style="min-width:300px;padding:20px">
  <md-content style="padding-right:20px"> 
    <h3>{{caption}}:</h3> 
    <md-input-container style="width:100%;margin-bottom:0"> 
      <label><span translate="NAME"></span></label> 
      <input ng-model="title"></input> 
    </md-input-container> 

    <md-input-container style="width:100%;margin-top:0"> 
      <label translate="DESCRIPTION"></label> 
      <textarea ng-model="description"></textarea> 
    </md-input-container>  


    <div style="font-size:75%;color:rgba(0,0,0,0.54);margin-bottom: 10px;"><span translate="AUTOEDIT.TYPE"></span></div>
    <md-radio-group ng-model="type" readonly="true">
      <md-radio-button value="DEA" disabled="true"><b translate="AUTOEDIT.TYPEDEASHORT"></b>: <span translate="AUTOEDIT.TYPEDEA"></span> </md-radio-button>
      <md-radio-button value="NEA" disabled="true"><b translate="AUTOEDIT.TYPENEASHORT"></b>: <span translate="AUTOEDIT.TYPENEA"></span></md-radio-button>
      <md-radio-button value="MEALY" disabled="true"><b translate="AUTOEDIT.TYPEMEALYSHORT"></b>: <span translate="AUTOEDIT.TYPEMEALY"></span></md-radio-button>
      <md-radio-button value="MOORE" disabled="true"><b translate="AUTOEDIT.TYPEMOORESHORT"></b>: <span translate="AUTOEDIT.TYPEMOORE"></span></md-radio-button>
      <md-radio-button value="DKA" disabled="true"><b translate="AUTOEDIT.TYPEDKASHORT"></b>: <span translate="AUTOEDIT.TYPEDKA"></span></md-radio-button>
      <md-radio-button value="NKA" disabled="true"><b translate="AUTOEDIT.TYPENKASHORT"></b>: <span translate="AUTOEDIT.TYPENKA"></span></md-radio-button>
      <md-radio-button value="TM" disabled="true"><b translate="AUTOEDIT.TYPETMSHORT"></b>: <span translate="AUTOEDIT.TYPETM"></span></md-radio-button>
    </md-radio-group>

    <div style="color:red;text-align:center" translate="{{error}}"></div>
  </md-content> 
  <div class="md-actions"> 
    <md-button type="button" ng-click="cancel()" translate="CANCEL"></md-button> 
    <md-button class="md-primary" ng-click="hide()" translate="SAVE"></md-button> 
  </div>
</md-dialog>


